body {
    background-color: rgb(255, 255, 255);
    
    margin: auto;
    padding: 50px;
    text-align: left;
  }
  h1 {
    color:020929;
    font-size: xx-large;
    font-family: poppins;
    width: 700;
  }
  h2 {
    color:020929;
    font-size: x-large;
    font-family: poppins;
    width: 700;
  }
  p {
    color:40afb6;
    font-size: medium;
    font-family: poppins;
    width: 600;
    font-weight: bold;
      }

      .container {
        position: relative;
        z-index: 0;
    }
    
    .image {
        position: absolute;
        width: 1000px;
        height: 1000px;
        border: 5px solid;
        border-color: 40afb6;
      }
      .imageOne {
        position:absolute;
          z-index: 1;
      }
      .imageTwo {
        position: absolute;
        mix-blend-mode:multiply;
          z-index: 2;
      }
    
    .imageThree {
      position: absolute;
      mix-blend-mode: screen;
        z-index: 3;
    }

    .imageThree {
      position: absolute;
      mix-blend-mode: screen;
        z-index: 4;
    }

    .imageFour {
      position: absolute;
        z-index: 5;
    }
  .saturation {
    filter: saturate(120%);
  }
  

  }